$header-blue: #00bbd3;

$main-font: 'Roboto', sans-serif;

$placeholder: rgba(255, 255, 255, 0.4);

$background-gray: #2c2c2c;

$light-green: #80cbc4;

$button-text-gray: #1c1c1c;

$shadow-gray: #0e1717;